연습문제

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([29, 4, 5, 'juho', 6, 172, 'no'])
s

0      29
1       4
2       5
3    juho
4       6
5     172
6      no
dtype: object

In [3]:
date = pd.date_range("20221105", periods=7)
date

DatetimeIndex(['2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08',
               '2022-11-09', '2022-11-10', '2022-11-11'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(7, 4), index=date, columns=list("ABCD"))

df

                   A         B         C         D
2022-11-05  0.013760  1.040217  0.330105 -0.136988
2022-11-06  0.208966  1.125446 -0.111324 -0.926837
2022-11-07 -0.553062 -0.131187  0.512989 -0.072672
2022-11-08  0.330588  0.101319  0.724106  1.401411
2022-11-09  0.470409 -0.903850  0.799513  0.166656
2022-11-10 -1.501391 -1.165816  0.466769 -1.253050
2022-11-11 -0.326254 -0.239371  0.447105  0.327864

1. 데이터 2022.11.05와 2022.11.07의 데이터를 뽑아라.

In [12]:
df["20221105":"20221107"]

                   A         B         C         D
2022-11-05  0.013760  1.040217  0.330105 -0.136988
2022-11-06  0.208966  1.125446 -0.111324 -0.926837
2022-11-07 -0.553062 -0.131187  0.512989 -0.072672

2. 데이터 B.C에 있는 데이터만 남겨라.

In [13]:
df.loc[:, ["B", "C"]]

                   B         C
2022-11-05  1.040217  0.330105
2022-11-06  1.125446 -0.111324
2022-11-07 -0.131187  0.512989
2022-11-08  0.101319  0.724106
2022-11-09 -0.903850  0.799513
2022-11-10 -1.165816  0.466769
2022-11-11 -0.239371  0.447105

3. 열은 놔두고 행만 슬라이싱하는데 데이터 2022.11.07-09까지만 남겨라.

In [20]:
df.iloc[2:5, :]

                   A         B         C         D
2022-11-07 -0.553062 -0.131187  0.512989 -0.072672
2022-11-08  0.330588  0.101319  0.724106  1.401411
2022-11-09  0.470409 -0.903850  0.799513  0.166656